/*Write all of your CSS here*/
.box{
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.tiny{
    font-size: 10px;
}

.head-nav h1, .head-nav h3{
    display: inline-block;
    margin-right: 50px;
}

.head-nav h1{
    margin-right: 200px;
}